<!DOCTYPE html>
<html>
  <head>
    <title>TrailStoke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <div class="top-nav">
  	<div class="offset-1 col-10 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  		<div class="brand float-left">
  			Trail Stoke
  		</div>	
  		<div class="add float-right">
			  <% if current_user %>
			  	Welcome, <%= current_user.email %>.
			  	<%= link_to "New Post", new_gram_path %>
			  	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			  <% else %>
			  	<%= link_to "Sign In", new_user_session_path %>
			  	<%= link_to "Sign Up", new_user_registration_path %>
			  <% end %>
  		</div>
  	</div>
  	<br class="clear-fix" />
  </div>

<!-- Begin flash logic -->
	  <% {alert: "danger", notice: "success"}.each do |key, value| %>
	  	<% if flash[key].present? %>
	  		<div class="container">
	  			<div class="alert alert-<% value %> alert-dismissable" role="alert">
	  				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  				<%= flash[key] %>
	  			</div>
	  		</div>
	  	<% end %>
	  <% end %>
<!-- End flash logic -->


    <%= yield %>
  </body>
</html>
